# K1-MAX
# Printer_size: 300x300x300
# Version: v1.0.3
# CreateDate: 2026/04/30
# ToolHead: chip: stm32g431
# bed_mcu: chip: GD32E230F8P6
# mcu: chip: stm32h723

[include sensorless.cfg]
[include gcode_macro.cfg]
[include printer_params.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_12345-if00

[mcu ToolHead]
serial: /dev/serial/by-id/usb-Klipper_stm32g431xx_2B002E000D50465236353520-if00
#serial: /dev/serial/by-id/usb-Klipper_stm32g431xx_13452-if00

[mcu bed_mcu]
serial: /dev/serial/by-id/usb-wch.cn_USB_Dual_Serial_0123456789-if02
baud: 230400
restart_method: command

[verify_heater extruder]
[verify_heater heater_bed]
check_gain_time: 120
heating_gain: 1.0
hysteresis: 10

# [mcu rpi]
# serial: /tmp/klipper_host_mcu

# [bl24c16f]
# i2c_mcu: rpi
# i2c_bus: i2c.2
# i2c_speed: 400000

[idle_timeout]
timeout: 99999999

[virtual_sdcard]
path: /home/pi/printer_data/gcodes

[gcode_arcs]
resolution: 1.0

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor chamber_temp]
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
min_temp: 0
max_temp: 125

[duplicate_pin_override]
pins: PB2, PC1

[temperature_fan chamber_fan]
pin: PB2
cycle_time: 0.0100
hardware_pwm: false
max_power: 1
shutdown_speed: 0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
min_temp: 0
max_temp: 70
control: watermark
max_delta: 2
target_temp: 35.0
max_speed: 1.0
min_speed: 0.0

[stepper_x]
step_pin: PE11
dir_pin: !PE10
enable_pin: !PE9
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 306.5
position_min: -2
position_max: 306.5
homing_speed: 30
homing_retract_dist:0

[tmc2209 stepper_x]
uart_pin:PE7
interpolate: True
run_current:1.0
hold_current:0.5
sense_resistor: 0.100
stealthchop_threshold: 0
diag_pin: ^PE0
# driver_IHOLDDELAY: 8
# driver_TPOWERDOWN: 20
driver_TBL: 0
driver_TOFF: 1
driver_HEND: 0
driver_HSTRT: 0
driver_SGTHRS: 60

[stepper_y]
step_pin: PD8
dir_pin: !PB12
enable_pin: !PD9
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: -2
position_min: -2
position_max: 306
homing_speed: 30
homing_retract_dist:0

[tmc2209 stepper_y]
uart_pin:PE15
interpolate: True
run_current:1.0
hold_current:0.5
sense_resistor: 0.100
stealthchop_threshold: 0
diag_pin: ^PB13
# driver_IHOLDDELAY: 8
# driver_TPOWERDOWN: 20
driver_TBL: 0
driver_TOFF: 1
driver_HEND: 0
driver_HSTRT: 0
driver_SGTHRS: 60

[stepper_z]
step_pin: PD14
dir_pin: !PD13
enable_pin: !PD15
microsteps: 16
rotation_distance:8
full_steps_per_rotation: 200
gear_ratio: 64:20
endstop_pin: tmc2209_stepper_z:virtual_endstop
position_endstop: 0
position_max: 305
position_min: -10
homing_speed: 10
second_homing_speed: 1
homing_retract_dist: 2.0

[tmc2209 stepper_z]
uart_pin: PD10
run_current:1.0
hold_current:0.5
diag_pin: ^PE1
stealthchop_threshold: 0
sense_resistor: 0.100
# driver_IHOLDDELAY: 8
# driver_TPOWERDOWN: 20
# driver_TBL: 1
# driver_TOFF: 1
# driver_HEND: 2
# driver_HSTRT: 2
driver_SGTHRS: 0

# # [stepper_x] for tmc5160, The homing sensitivity for the limit-switchless homing mode needs to be adjusted.
# [stepper_x]
# ##	Connected to X-MOT
# step_pin: PE11
# dir_pin: !PE10
# enable_pin: !PE9
# rotation_distance: 40
# microsteps: 16
# full_steps_per_rotation:200 
# endstop_pin: tmc5160_stepper_x:virtual_endstop
# position_min: 0
# position_endstop: 306
# position_max: 306
# homing_speed: 30
# homing_retract_dist: 0
# homing_positive_dir: true

# [tmc5160 stepper_x]
# cs_pin: PE7
# spi_software_mosi_pin: PE14
# spi_software_miso_pin: PE13
# spi_software_sclk_pin: PE12
# run_current: 1.5
# hold_current: 0.8
# sense_resistor: 0.110
# stealthchop_threshold: 0
# diag0_pin: ^!PE0
# driver_SGT: 30

# # [stepper_y] for tmc5160, The homing sensitivity for the limit-switchless homing mode needs to be adjusted.
# [stepper_y]
# ##	Connected to Y-MOT
# step_pin: PD8
# dir_pin: !PB12
# enable_pin: !PD9
# rotation_distance: 40
# microsteps: 16
# full_steps_per_rotation:200
# endstop_pin: tmc5160_stepper_y:virtual_endstop
# position_min: 0
# position_endstop: 306
# position_max: 306
# homing_speed: 25
# homing_retract_dist: 0
# homing_positive_dir: true

# [tmc5160 stepper_y]
# cs_pin: PE15
# spi_software_mosi_pin: PE14
# spi_software_miso_pin: PE13
# spi_software_sclk_pin: PE12
# run_current: 2.0
# hold_current: 0.8
# sense_resistor: 0.110
# stealthchop_threshold: 0
# diag0_pin:^!PB13
# driver_SGT: 30

# [stepper_z]
# step_pin: PD14
# dir_pin: !PD13
# enable_pin: !PD15
# rotation_distance: 8
# full_steps_per_rotation: 200
# gear_ratio: 64:20
# microsteps: 16
# endstop_pin: probe:z_virtual_endstop 
# position_max: 290
# position_min: -10
# homing_speed: 10
# second_homing_speed: 1
# homing_retract_dist: 2.0

# [tmc5160 stepper_z]
# cs_pin: PD10
# spi_software_mosi_pin: PE14
# spi_software_miso_pin: PE13
# spi_software_sclk_pin: PE12
# interpolate: True
# run_current: 2.0
# hold_current: 0.5
# sense_resistor: 0.110
# stealthchop_threshold: 0
# # diag_pin:^!PE1
# # driver_SGT: 30

[extruder]
max_extrude_only_distance: 1000.0
max_extrude_cross_section: 80
step_pin: ToolHead:PB7
dir_pin: ToolHead:PB6
enable_pin: !ToolHead:PB9
microsteps: 16
rotation_distance: 6.9
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: ToolHead:PC15
sensor_type: EPCOS 100K B57560G104F
sensor_pin: ToolHead:PB2
pressure_advance: 0.04
pressure_advance_smooth_time: 0.040
control: pid
pid_Kp: 25.013
pid_Ki: 2.566
pid_Kd: 60.966
# pid_Kp: 60
# pid_Ki: 0.1
# pid_Kd: 5
min_temp: 0
max_temp: 320

[tmc2209 extruder]
uart_pin: ToolHead:PA15
run_current: 1.0
sense_resistor: 0.150
stealthchop_threshold: 0

[heater_bed]
heater_pin: !PB0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
control: pid
pid_Kp: 37
pid_Ki: 0.18
pid_Kd: 280
min_temp: 0
max_temp: 125

[filament_switch_sensor filament_sensor]
pause_on_runout: true
switch_pin: !PE8
runout_gcode:
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G0 E30 F600
    G90
  {% endif %}

[filament_switch_sensor filament_sensor_2]
pause_on_runout: true
switch_pin: ToolHead:PC14
# switch_pin: !ToolHead:PC14

[multi_pin heater_fans]
pins: ToolHead:PB3

[heater_fan hotend_fan]
pin: multi_pin:heater_fans
heater: extruder
heater_temp: 40

# Turn on the fan on the second layer of the extruder.
[output_pin fan0]
pin: ToolHead:PA2
pwm: True
cycle_time: 0.0100
hardware_pwm: false
value: 0.00
scale: 255
shutdown_value: 0.0

# Bottom Motherboard Cooling Fan
[output_pin fan1]
pin: PA0
pwm: True
cycle_time: 0.0100
hardware_pwm: false
value: 0.00
scale: 255
shutdown_value: 0.0

# Auxiliary Fan
[output_pin fan2]
pin: PB3
pwm: True
cycle_time: 0.0100
hardware_pwm: false
value: 0.00
scale: 255
shutdown_value: 0.0

[output_pin LED]
pin: PA15
pwm: True
cycle_time: 0.010
value: 1

# [output_pin power]
# pin: ToolHead:PB3
# pwm: False
# value: 1

[adxl345]
cs_pin: ToolHead:PA0
spi_speed: 5000000
axes_map: x,-z,y
spi_software_sclk_pin: ToolHead:PA5
spi_software_mosi_pin: ToolHead:PA7
spi_software_miso_pin: ToolHead:PA6

[resonance_tester]
accel_chip: adxl345
accel_per_hz: 75
# min_freq: 30
# max_freq: 100
probe_points:
   150,150,10

[prtouch_v2]
pr_version: 2
step_base: 2
z_offset: 0     
noz_ex_com: 0.09 
tilt_corr_dis:0.05
tri_min_hold: 4000,10000
tri_max_hold: 14000,60000
pres_cnt: 4
tri_need_cnt: 1
best_above_z: 5
pres0_clk_pins: bed_mcu:PA7
pres0_sdo_pins: bed_mcu:PA4
pres1_clk_pins: bed_mcu:PA6
pres1_sdo_pins: bed_mcu:PA3
pres2_clk_pins: bed_mcu:PA2
pres2_sdo_pins: bed_mcu:PA0
pres3_clk_pins: bed_mcu:PA5
pres3_sdo_pins: bed_mcu:PA1
# show_msg: True
# tri_wave_ip: 192.168.0.147
step_swap_pin: PE4
pres_swap_pin: bed_mcu:PB1
g28_wait_cool_down: true
pa_clr_down_mm: -0.15
clr_noz_start_x: 130
clr_noz_start_y: 295
clr_noz_len_x: 40
clr_noz_len_y: 2
speeds: 2.5,1.0
tri_hftr_cut: 2,1
tri_lftr_k1: 0.50,0.15

tri_acq_ms: 5
tri_send_ms: 5

tri_min_hold_1:8000,10000
tri_min_hold_2:15000,16000
tri_min_hold_3:15000,16000
tri_min_hold_4:9000,10000
tri_min_hold_5:5000,10000
tri_min_hold_6:5000,10000

tri_min_hold_7:9000,10000
tri_min_hold_8:13000,14000
tri_min_hold_9:13000,14000
tri_min_hold_10:9000,10000
tri_min_hold_11:4000,10000
tri_min_hold_12:4000,10000

tri_min_hold_13:4000,10000
tri_min_hold_14:4000,10000
tri_min_hold_15:4000,10000
tri_min_hold_16:4000,10000
tri_min_hold_17:4000,10000
tri_min_hold_18:4000,10000

tri_min_hold_19:4000,10000
tri_min_hold_20:4000,10000
tri_min_hold_21:4000,10000
tri_min_hold_22:4000,10000
tri_min_hold_23:4000,10000
tri_min_hold_24:4000,10000

tri_min_hold_25:4000,10000
tri_min_hold_26:4000,10000
tri_min_hold_27:4000,10000
tri_min_hold_28:4000,10000
tri_min_hold_29:4000,10000
tri_min_hold_30:4000,10000

tri_min_hold_31:4000,10000
tri_min_hold_32:4000,10000
tri_min_hold_33:4000,10000
tri_min_hold_34:4000,10000
tri_min_hold_35:4000,10000
tri_min_hold_36:4000,10000

tri_max_hold_1:14000,60000
tri_max_hold_2:14000,60000
tri_max_hold_3:14000,60000
tri_max_hold_4:14000,60000
tri_max_hold_5:14000,60000
tri_max_hold_6:14000,60000
tri_max_hold_7:14000,60000
tri_max_hold_8:14000,60000
tri_max_hold_9:14000,60000
tri_max_hold_10:14000,60000
tri_max_hold_11:14000,60000
tri_max_hold_12:14000,60000
tri_max_hold_13:14000,60000
tri_max_hold_14:14000,60000
tri_max_hold_15:14000,60000
tri_max_hold_16:14000,60000
tri_max_hold_17:14000,60000
tri_max_hold_18:14000,60000
tri_max_hold_19:14000,60000
tri_max_hold_20:14000,60000
tri_max_hold_21:14000,60000
tri_max_hold_22:14000,60000
tri_max_hold_23:14000,60000
tri_max_hold_24:14000,60000
tri_max_hold_25:14000,60000
tri_max_hold_26:14000,60000
tri_max_hold_27:14000,60000
tri_max_hold_28:14000,60000
tri_max_hold_29:14000,60000
tri_max_hold_30:14000,60000
tri_max_hold_31:14000,60000
tri_max_hold_32:14000,60000
tri_max_hold_33:14000,60000
tri_max_hold_34:14000,60000
tri_max_hold_35:14000,60000
tri_max_hold_36:14000,60000


[bed_mesh]
speed: 250
mesh_min: 5,5
mesh_max: 295,295
probe_count: 5,5
fade_start: 1.0
fade_end: 0.0
fade_target:0
split_delta_z: .025
move_check_distance: 50.0
mesh_pps: 2, 2
algorithm: bicubic
bicubic_tension: .2

[bed_screws]
screw1: 30,30
screw1_name: front left
screw2: 30,270
screw2_name: back left
screw3: 270,270
screw3_name: back right
screw4: 270,30
screw4_name: front right

[display_status]

[printer]
kinematics: corexy
max_velocity: 800
max_accel: 20000
max_accel_to_decel: 20000
max_z_velocity: 20
square_corner_velocity: 5.0
square_corner_max_velocity: 200.0
max_z_accel: 300

[pause_resume]

[exclude_object]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [prtouch default]
#*# version = 307
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.066938, -0.025656, -0.053562, -0.032719, 0.021563
#*# 	  0.167219, 0.110281, 0.023656, 0.020531, 0.087031
#*# 	  0.339531, 0.205750, 0.090000, 0.094031, 0.138844
#*# 	  0.375281, 0.272781, 0.175344, 0.155813, 0.197906
#*# 	  0.344000, 0.192531, 0.207875, 0.165469, 0.189094
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 5.0
#*# max_x = 295.0
#*# min_y = 5.0
#*# max_y = 295.0
